@media (max-width: 520px) {
    /* Navbar */

    nav ul {
        gap: 2px;
    }

    /* Hero skills icons */
    #hero.skill-img {
        gap: 10px;
        padding: 10px;
    }

    .about {
        display: none;
    }

    .hide-profile {
        display: block;
        text-align: center;
    }

    #hero.skill-img img {
        width: 50px;
        height: auto;
        border-radius: 12px;
    }

    /* About section */
    #about-profile {
        margin: 15px;
        padding: 20px;
    }

    .myphoto {
        width: 180px;
        height: 180px;
    }

    .name1 {
        font-size: 1.6rem;
    }

    .about p {
        font-size: 0.95rem;
    }

    /* Skills & Projects */
    #skills-Project {
        margin: 15px;
        padding: 20px;
    }

    .skills-text {
        gap: 20px;
    }

    .my-skill {
        min-height: 50px;
        display: block;
        padding: 15px;
        margin: 5px 0;
    }

    /* Projects */
    .project-section {
        padding: 20px;
        grid-template-columns: 1fr;
        /* single column */
        gap: 15px;
    }

    .project img {
        height: 150px;
    }

    .project h3 {
        font-size: 1.1rem;
    }

    /* Contact */
    .contact-section {
        margin: 15px;
        padding: 25px;
    }

    .contact-me img {
        width: 60px;
        height: 60px;
    }

    .contact-me p {
        font-size: 0.9rem;
    }

    /* Footer */
    footer {
        font-size: 0.8rem;
        padding: 10px;
    }
}